# Config 
partnerId = 12345678
serviceUrl = "https://cdnapisec.kaltura.com/"
admin_secret = "XxXxXXXXXxxxxxXXxXxXxxx"

# Entry id can be unique or multiple comma separated
# VOD and LIVE can be mixed
# entry_id = "1_u92di4mp,1_l1j9eutp,0_84l9v532"
entry_id = ""

# Not implemented yet
parent_kes = ""

